div{
    width: 750px;
    margin: 10px auto;
    border: 2px solid red;
    border-radius: 10px;
}
h1{
    text-align: left;
    color: darkred;
    margin-left: 10px;
}
h2{
    text-align: left;
    color: darkred;
    margin-left: 10px;
}
p{
    color: green;
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
}
b{
    text-decoration: underline;
    color: blue
}
#red{
    color: red;
}
#i{
    text-align: right;
    color: black;
    margin-right: 70px;
}
