body{
	height: 150px;
}
#elem1, #elem2, #elem3{
	width: 50px;
	height: 50px;
	position: absolute;
}
#elem1{
	background-color: #FF8888;
	left: 30px;
	top: 30px;
}
#elem2{
	background-color: #7E89EB;
	left: 60px;
	top: 60px;
	z-index: -1;
}
#elem3{
	background-color: #4DEE99;
	left: 90px;
	top: 90px;
