body {
	padding: 0 5px;
	background-color: #f7d7d7;
}
table { 
	font-size:12px;
	border: 4px outset white;
	margin: auto;
	margin-bottom:20px}
th { 
	border: 1.5px inset white;
}
td {
	font-family: times-new-roman;
	border: 1.5px inset white;

}
caption {
	padding:10px; 
	color:crimson;
	font-weight: bold;
 }
.mainHeading {
	padding: 5px;
	background-color: #b35454;
	color:white; 
	text-align:center;
	width: 110px;
}
.name{
	width: 120px;
}
.othr{
	width: 70px;
}
.bigs{
	color: white;
	padding: 0 5px;
}
.heading{
	font-weight: bold;
}
p{
	text-align: center;
}