.box{
    color: #ffffff;
    height: 50px;
    text-align: center;
}

.box-1{
    background-color: green;
}
.box-2{
    background-color: orange;
}
.box-3{
    background-color: coral;
}
.box-4{
    background-color: firebrick;
}
.box-5{
    background-color: deepskyblue;
}