.menu2 {list-style-type: none; width: 200px}
.menu2 li{margin-bottom: 5px;}
.menu2 a:link, .menu2 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	border: 1px solid blue;
	display: block;
	padding: 0px 5px;
	line-height: 30px;
}
.menu2 a:hover{
font-weight: bold
}
