div{
    width: 750px;
    margin: 10px auto;
    border: 2px dashed green;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: green;
}
h2{
    text-align: center;
    color: green;
    text-decoration: underline;
}
p{
    color: green;
    text-align: right;
    margin-right: 15px;
    margin-left: 15px;
}
b{
    text-decoration: underline;
}