p {
	font-size: 	14px;
	font-family: Aial;
	font-style: Italic;
}
.kursiv{
	letter-spacing:10px;
	text-decoration:underline;
	color:blue;
}
table{
	text-align: center;
	width: 600px;
	margin: 100px;
	border: 2px solid black;
	border-collapse: collapse;
	background-color: lightskyblue;
}
th, td{
	padding: 5px 10px;
	border: 2px dashed; black;
}
caption{
	margin-bottom: 10px;
	background-color: lightsalmon;
	color: darkblue;
	padding: 15px;
}