#wrapper{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0px auto;
	background-color: lightgreen;
	border-radius: 200px;
	
}
#elem1, #elem2, #elem3, #elem4{
	position: absolute;
	background-color: white;

}
#elem1{
	left: 100px;
	top: 100px;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
#elem2{
	right: 100px;
	top: 100px;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
#elem3{
	top: 200px;
	left: 180px;
	width: 40px;
	height: 40px;
}
#elem4{
	left: 125px;
	top: 300px;
	width: 150px;
	height: 20px;
}
